#container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: whitesmoke;
    border: 10px;
    border-radius: 20px;
}

#screen{
    text-align: right;
    display: flex;
    height: 200px;
    width: 350px;
    background-color: beige;

}

.num{ 
    display: flex;
    flex-wrap: wrap;
    border: 10px;
    height: 90px;
    width: 90px;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: #04AA6D;

}
.button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }